.header {
  height: 400px;
  width: auto;
  margin: auto;
  text-align: center;
  background-color: #961d1d;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  margin-top: 120px;
}

.tagline {
  display: none;
}