html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

.nav {
  height: 120px;
  color:  white;
  background-color: #4056A1;
  font-size: 24px;
  font-family: sans-serif;
  font-family: 'Source+Sans+Pro';
  display: flex;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-left: 10px;
  padding-right: 10px;

}

.logo {
  font-family: 'Bungee', cursive;
  display: inline-block;
  color: white;
  padding: 1.5em;
  margin: 0.0em;
  padding-top: 55px;
  padding-bottom: 20px;
}

nav button {
  margin-left: auto;
  align-self: center;
  align-items: center;
  font-size: 18px;
  /* border: 1px solid black; */
  margin-right: 20px;
  color:  white;
  text-align: center;
  background-color: transparent;
  border: transparent;
}

/* this class create the shadow effect of the object pointed by the selector
/* just take the same selector and add :hover on it */
nav button:hover{
  box-shadow: 5px 5px #00000066;
  background-color: rgb(211, 138, 29);
  cursor: pointer;
}