.new-tweet {
  font-family: sans-serif;
  font-family: 'Source+Sans+Pro';
  display: flex;
  
  flex-direction: column;
  height: autopx;
  width: auto;
  vertical-align:left;
  /* justify-content: center; */
  border: 5px solid rgb(111,41,97);
  border-style: solid;
  /* margin: auto; */
  /* text-align: center; */
  justify-content: flex-start;
  background-color: hsl(189, 40%, 65%);
  padding: 10px;
}

/* when not toggled the text form
 .hidden {
  display: none;
}  */

#but_char {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-top: 10px;
  /* justify-content: flex-end; */
  font-family: sans-serif;
  font-family: 'Bungee', cursive;
  font-size: 18px;
}


#tweet-text {
  margin-top: 10px;
  border-bottom-width: 3px;
  border-bottom-color: black;
  /* justify-content: flex-end; */
}

button {
background-color: blue;
color: white;
}

/* when negative number make counter red */
.negativeNumber {
  color: red;
}


article.tweet_header {
  font-family: sans-serif;
  font-family: 'Source+Sans+Pro';
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  vertical-align:left;
  /* justify-content: center; */
  border: 5px solid rgb(FF, FF, FF);
  border-style: solid;
  /* margin: auto; */
  /* text-align: center; */
  justify-content: flex-start;
  background-color: hsl(189, 40%, 65%);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
/* this class create the shadow effect of the object pointed by the selector */
/* jus take the same selector and add :hover on it */
article.tweet_header:hover{
box-shadow: 5px 5px #00000066;
}

.msm_top {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

#name_user {
  display: flex;
  align-items: center;
 }

 #days {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .icons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  vertical-align:stretch;
  background-color: transparent;
  border: transparent;
 }

 #btn1, #btn2, #btn3  {
  background-color: transparent;
  border: transparent;
 }

 #error-msg {
  height: 70px;
  width: auto;
  /* vertical-align:middle; */
  /* justify-content: center; */
  border: 5px solid red;
  border-style: solid;
  margin: auto;
  text-align: center;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
 }
